@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url(/Fonts/Norse-Bold.otf);
}

/*smooth scrolling for nav tags, does not support IE or safari*/
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;    
}
body{
    background-color: var(--header-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', 'Sans-Serif';
}
h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    height: auto;
    font-weight: 500;
    
}
h2{
    font-weight: normal;
    margin: 10px;
}
section{
    background-color: var(--main-bg-color);
    margin-bottom: 40px;
    padding: 0px 40px 40px 40px;
    border-radius: 20px;
    position: relative;
}

footer{
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: large;
    padding: 10px;
    border-radius: var(--section-border-radius);
    margin-bottom: 20px;
}
form{
    height: 100vh;
}
footer>div{
    padding: 30px;
}
ul{
    list-style-type: none;
    margin-top: 60px;
    padding: 0px;
    text-align: left;

}
li{
    margin-bottom: 20px;
    font-size: 1.2em;

}
li:hover{
    background-color: #808080b2;
}
iframe{
    border: 0px;
}
footer div .flexbox-container{
    gap: 20px;
}
#info{
    padding: 10px 0;
    font-family: "Courgette", "Sans-Serif";
    font-size: 1.8rem;
    font-style: italic;
    background-color: var(--header-color);
    color: var(--blue-text);
}

.checked{
    background-color: var(--main-bg-color);
}
.sidebar{
    float: left;
    box-sizing: border-box;
    width: var(--sidebar-width);
    height: 100vh;
    margin: 0;
    border: 2px solid #808080b2;
    background-color: var(--sidebar-bg-color);
    text-align: center;
    position: fixed;

    
}
.sidebar-wrapper{
    position: relative;
    transform: translate(-100%);
    animation: sidebarAnim 1.5s ease-out forwards;
}
.main{
    width: calc(100% - var(--sidebar-width));
    float: right;
    animation: mainAnim 2s;
    position: relative;
    padding: 20px;
}
/*
    https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/
    aspect-ratio still experimental
*/
.iframe-container{
    width: 600px;
    padding-top: 56.25%;
    position: relative;
}
.responsive-iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.align-center{
    align-items: center;
}

.flexbox-container{
    display:flex;
}
.flexbox-center{
    justify-content: center;
}
.gap-50-10p{
    gap: max(50px, 10%);
}
.inner-section{
    padding: 20px;
    border-radius: var(--section-border-radius);
    height: 600px;
    background-color: var(--header-color);
    overflow: hidden;
    width: clamp(750px, 50%, 1000px);
    margin: auto;
    position: relative;
}
.inner-section>.flexbox-container{
    position: absolute;
    left: 0;
    right: 0;
    transition: 2s;
}
.logos{
    width: 40px;
    height: auto;
}
.list-item{
    display: block;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
}
.nav-manual, .nav-auto{
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.manual-button, .nav-auto div{
    border: 3px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;

}
.manual-button:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 40px;
}
.odin-projects{
    text-align: center;
    flex: 0 0 600px;
}
.page-link{
    color: var(--blue-text);
}
.page-link:hover{
    color: #ffffff;
}
.inner-section>.flexbox-container{
    width: 300%;
    justify-content: space-around;
}
.showcase{
    text-align: center;
    margin-bottom: 110px;
    margin-top: 20px;
}
.showcase>h2{
    color: var(--blue-text);
    width: fit-content;
    margin: 10px auto;
    border-bottom: 1px solid #000000;

}
.socials{
    width: 40px;
    height: 40px;
}
.socials:hover{
    animation: socialAnim 500ms;
}
.space-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.wrapper{
    margin: auto;
    width: 70%;
}

:root{
--sidebar-width: 240px;
--main-bg-color: #FFC0CB;
--sidebar-bg-color: #803945;
--header-color: #CC99A2;
--blue-text: #A6E4FF;
--section-border-radius: 10px;
font-size: 1.5rem;
}

.inner-section::-webkit-scrollbar{
    display: none;
}
@keyframes sidebarAnim {
    100%
    {
        transform: translate(0);
    }
}
@keyframes mainAnim {
    0%
    {
        opacity: 0;
        transform: translate(0, 10%);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes socialAnim{
    40%{
        transform: scale(1.5) rotate(-5deg);
    }
}

@media (max-width: 1000px){
    header.flexbox-container{
        flex-direction: column;

    }
}
@media (max-width: 1100px)
{
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        float: none;
    }

    .inner-section{
        width: min(80%, 750px)
    }
}
@media (max-width: 900px){
    #Projects .inner-section{
        height: 400px;
    }
    .showcase{
        width: 450px;
    }
    .iframe-container{
        width: min(450px, 100%)
    }
    footer h2{
        font-size: 0.7rem;
    }
    .odin-projects{
        flex: 0 0 400px;
    }
    #TOP-Projects .inner-section{
        height: 400px;
    }
}
@media (max-width: 600px) {
    footer>.flexbox-container{
        flex-direction: column;
        gap: 25px;
    }
    #Projects .inner-section{
        height: 330px;
    }
    #Projects .inner-section .flexbox-container{
        align-items: center;
    }
    #TOP-Projects .inner-section{
        height: 400px;
    }
    .inner-section{
        padding: 0;

    }
    .flexbox-container{
        padding: 0;
    }
    .showcase{
        width: 250px;
        margin-top: 0;
    }
    .odin-projects{
        flex: 0 0 250px;
    }
}
@media (max-width: 450px){
    .inner-section{
        width: 90%;
    }
    section{
        padding: 0 20px 20px;
    }
    h1{
        padding: 5px;
    }
}

@media (hover: hover){
    .manual-button:hover{
        background-color: var(--main-bg-color);
    }
}