@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@font-face {
    font-family: Norse-Bold;
    src: url(/Fonts/Norse-Bold.otf);
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;    
}
body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 0;
    height: auto;
    padding: .5em;
    
}
header#info{
    padding: 10px 20px;
    font-family: "Courgette", "Sans-Serif";
    font-size: 1.8rem;
    font-style: italic;
    background-color: var(--header-color);
    color: #A6E4FF;
}
ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
    text-align: left;

}

li{
    padding-left: 20px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

li:hover{
    background-color: #808080b2;
}


iframe{
    border: 0px;
}

/*
    https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/
    aspect-ratio still experimental
*/
.responsive-iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.iframe-container{
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
.project > h2{
    color:#f8270b;
    text-decoration-line:underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 4px;
}

.content{
    border: 2px solid #000000;
    flex: 0 1 auto;
    width: 33%;
    min-width: fit-content;
}

.content.project{
    text-align: center;
}

.flexbox-container{
    display:flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.flexbox-center{
    justify-content: center;
}
.flexbox-container .content{
    padding: 20px;
}

.sidebar{
    float: left;
    box-sizing: border-box;
    width: var(--sidebar-width);
    height: 100vh;
    margin: 0;
    border: 2px solid #808080b2;
    background-color: var(--sidebar-bg-color);
    text-align: center;
    position: fixed;
    transform: translate(-100%);
    animation: sidebarAnim 1.5s 500ms forwards;
}

.main{
    width: calc(100vw - var(--sidebar-width));
    float: right;
    animation: mainAnim 2s;
}

.list-item{
    display: block;
}
.wrapper{
    margin: auto;
    width: 70%;
}
.gap-30-10p{
    gap: max(50px, 10%);
}
.text-center{
    text-align: center;
}

:root{
--sidebar-width: 10em;
--main-bg-color: #FFC0CB;
--sidebar-bg-color: #803945;
--header-color: #CC99A2;
}

@keyframes sidebarAnim {
    100%
    {
        transform: translate(0);
    }
}
@keyframes mainAnim {
    0%
    {
        opacity: 0;
        transform: translate(0, 10%);
    }
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

@media (max-width: 750px)
{
    .flexbox-container{
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        display: none;
    }
    .main{
        width: 100%;
        float: none;
    }
}
