body{
    background-image: url('./img/rock-paper-scissors-neon-icons-vector.webp');
    width: max(300px,100vw); 
    height: auto; 
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-color: #232225;
    padding: 0;
    margin: 0;
}
html{
    width: max(300px, 100vw);
}
h1{
    width: 300px;
    margin: 4px auto;
    text-align: center;
}
.button{
    height: 6vw;
    border-radius: 12px;
    font-size: 2em;
    font-weight: bold;
    background-color: #00000000;
}
 #player-score{
    background-color: rgba(255, 192, 203,0.712);
}

 .text, #computer-score{
    background-color: rgba(94, 230, 230, 0.712);
}
.result-content{
    font-size: 5vw;
    text-align: center;
}

.button-container{
    position: absolute;
    width: 100%;
    top:0px;
    transform: translate(0px, 52vw);
}

.score-wrapper{
    display: flex;
    justify-content: space-around;

    
}
#player-score, #computer-score{
    font-size: 5vw;


}
#player-score, #computer-score, .text{
    border-radius: 10px;
}



h1 > .text{
    background-color: rgb(230, 255, 2);
    border-radius: 0px;

}
.rock{
    background-color: rgb(255, 192, 203, 0.2);
    width: max(57px, 19vw);
    margin-left: 9vw;
    margin-right: 7vw;
}
.scissors{
    background-color: rgba(230, 255, 2, 0.2);
    width: max(84px, 28vw);
    margin-right: 7vw;
}

.paper{
    background-color: rgb(94, 230, 2300, 0.2);
    width: max(57px, 19vw);
}

@media (max-width: 700px) {
    .scissors{
        margin-right: 6vw;
    }
    
}

*, *::after, *::before{
    box-sizing: border-box;
}