
.cv{
    background-color: blue;
    width: 400px;
    margin: 5px auto;
    padding: 5px;
    border-radius: 4px;

}
.cv-inner{
    background-color: rgb(0, 68, 255);
    width: 300px;
    padding: 5px;
    margin: 7px auto;
}