.button{
    width:100px;
    height:100px;
}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.display{
    width: 300px;
    height:100px;
    font-size: medium;
    text-align: right;
    border: 0px;
}

.row{
    font-size: 0px;
}

body{
    background-color:rgb(63, 70, 78);
}
html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

@media screen and (max-width: 300px) {
    .wrapper{
        transform: none;
        left: 0;
        top: 0;
    }
}