
/* grid block classes */
.row{
    display: flex;
}

.block{
    background-color: black;
    border: 1px solid #ffffff;
    width: calc((1/var(--grid-width) * 100vw));
    height: calc((1/var(--grid-height)) * (100vh - 1.8em)); /* sub -1.8em to account for input container*/
}

.hovered{
    background-color: pink;

}

/* input classes */
.button{
    height: 2em;
}

.input{
    width: 3em;
}
.inputs, .buttons{
    display: inline-block;
}
.padding{
    margin-right: 1em;
}
.input-container{
    width: fit-content;
    display: inline-block;
    
}
.container{
    text-align: center;
}
.button-container{
    position: relative;
    width: 100vw;
    height: 2em;
}

/* Element properties */
:root{
    --grid-width: 16;
    --grid-height: 16;
}

html{
    box-sizing: border-box;
}
 
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 1px;
}

@media screen and (min-width: 980px){
    .input-container{
        transform: translate(-25%);
    }
}