.App {
  text-align: center;
}

.App>div{
  width: fit-content;
  margin: auto;
  text-align: right;
  background-color: #665227;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
}


.title{
  text-align: center;
  margin: 10px 0;
}