.button{
    min-width: min-content;
    min-height: fit-content;
    width: 7vw;
    height: 5vw;
    border-radius: 12px;
}

.result-content{
    font-size: 5vw;
    text-align: center;
}

.button-container{
    display:flex;
    justify-content: center;
    gap: 1vw;
}

.score-wrapper{
    display: flex;
    justify-content: space-around;
}
#player-score, #computer-score{
    font-size: 5vw;

}