@font-face {
    font-family: Norse-Bold;
    src: url(/Fonts/Norse-Bold.otf);
}
*, *::after, *::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

.sidebar{
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 100vh;
    float: left;
    position: fixed;
    
}

.sidebar>.content{
    height: fit-content;
    background-color: #00000088;
    position: relative;
    top: 40%;
    justify-content: center;
    align-items: center;
    font-family: "Norse-Bold";
    font-size: var(--font-size-logo-text);
    color: #ffffff;
    display:flex;
    padding: 16px;
    transform: translate(0, -100%);

    
}
.logo{
    width: 140px;
    height: auto;
}
.main{
    background-color: #e6e6e6;
    height: 100vh;
    width: 70%;
    float:right;
    position: relative;


}
.description{
    position: relative;
    height: 40vh;
    font-weight:bold;
}
.description>p{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 32px;
    width: 80%;
    font-size: 1.8rem;
    font-family: "Roboto";
}
.form-container{
    height: fit-content;
    margin: 0 5px;
    background-color: #f8f8f8;
    padding: 16px;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px;
}
.form-container h2{
    margin: 0;
}
.form-container input{
    padding: 2px;
    font-size: 1.4rem;
}




.form-container input:invalid{
    border-color: #ff0000;
    border-width: 4px;
    border-style: solid;
}

.form-container input:focus{
    border: 2px solid #0000ff;
    box-shadow: 4px 4px #0000006c;
    outline: none;
}

.create-account{
    padding: 8px 30px;
    background-color: #219621;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    font-size: .9rem;
    font-family: "Roboto";
    margin: 20px 30px;
    box-shadow: 4px 4px #666666b7;
}

.login-text{
    font-family: "Roboto";
    margin: 20px 15px;
}
.login-text>a{
    color:#219621;
    font-weight: 600;
    text-decoration-line: none;

}
.it{
    font-style: italic;
}
.input-row{
    display: flex;
    gap: 20px min(10%, 8em);
    flex-wrap: wrap;
    margin: 20px;
}
.input-row>div
{
    position: relative;
}
:root{
    --font-size-small: 1rem;
    --font-size-simple-text: 1.2rem;
    --font-size-logo-text: 10rem;
    --font-size-logo-text-small: 6rem;
}
input ~ span[data-display-message]{
    position: absolute;
    top: -18px;
    right: 0;
    
}
input[id='password'] ~ span[data-display-message]{
    position: absolute;
    top: -36px;
    right: 0;
    
}
input[id='confirm-password'] ~ span[data-display-message]{
    position: absolute;
    top: -4px;
    right: 0;
    
}
input ~ span[data-display-message]::before{
    background-color: #ffff00;
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 40;
    font-size: calc(var(--font-size-small) - 0.2rem);
    border-radius: 2px;
    padding: 5px;
}

input:invalid:not(:focus) ~ span[data-display-message]::before{
    background-color: #ffff00;
    content:attr(data-display-message);
}

@media (max-width: 680px) {
    .sidebar{
        width: 100%;
        height: fit-content;
        float: none;
        position: relative;
    }
    .sidebar>.content{
        transform: none;
        top: 0;
        font-size: var(--font-size-logo-text-small)
    }
    .main{
        width: 100%;
        float: none;
    }
    .description{
        height: fit-content;
    }
    .description>p{
        position: relative;
        padding: 16px;
        font-size: var(--font-size-small);
    }
    .form-container input{
        padding: 2px;
        font-size: var(--font-size-small);
    }
    .input-row{
        margin-bottom: 20px;
    }
}